
*{
    text-align: center;
    background: #85fff9;
    font-family: 'kanit', sans-serif;
}
#intro-text{
    font-size: 75px;
    background: #42c5f5;
}
.certifications-awards{
    background: #42c5f5;
}
a{
    color: black;
}
#adult-age{
    color: rgb(255, 94, 0);
}
#contact{
    background:rgb(0, 225, 255);
}
#about{
    background:rgb(0, 225, 255);
}
#left-image{
    
}
#right-image{

}
img{
    width: 500px;
}