body {
    background-color: aqua;
    text-align: center;
    font-family: "Patua One", sans-serif;
}

.logo {
    background-color: blue;
    position: relative;
    bottom: 60px;
}

.logo h1 {
    color: aquamarine;
    font-size: 100px;
}

.container {
    display: flex;   
    justify-content: center;

    background-color: violet;

    height: 100vh;
    flex-direction: column;
}
.controls {
    display: grid;
    grid-template-rows: repeat(2, 1fr) minmax(60px,2fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    background-color: rgba(255, 200, 255, 0.798);
}

.button {
    border: 0;
    background-color: #d59ef55c
}
.up{
    order: -1;
    grid-column-start: span 2;
}
.down{
    order: 0;
    grid-column-start: 2;
    grid-column-end: 4;
}
.left{
    order: -2;
}
.right{
    order: 0;
}
.jump{
    order: 5;
    grid-column: 2 / 4;
}
.some-game-text{
    font-size: 50px;
    background-color: #ab4cff;
    color:rgb(255, 200, 255)
}

.game-on-img{
    width: 500px;
}

.some-score-text{
    font-size: 25px;
}

footer{
    position: relative;
    top: 100px;
}

footer p{
    background-color: blue;
    color: white;
}

@media (max-width: 650px){
    .logo h1{
        font-size: 50px;
    }
    .logo{
        position: relative;
        top: 10px;
    }
    .some-game-text, .some-score-text{
        font-size: 25px;
    }
}
@media (min-width: 400px) and (max-width: 649px) {
    .game-on-img{
        width: 350px;
    }
}

@media (max-width: 300px){
    .game-on-img{
        width: 250px;
    }
}